<h1>{{title}}</h1>

<div>
  <div>{{currentRoom}}</div>
  <div>
    <div *ngFor="let room of roomsList" (click)="joinByClick(room)">{{room}}</div>
  </div>
  <div id="messages">
    <div *ngFor="let message of messages">
      <div *ngIf="message.type === 'system'" [innerHTML]="message.text"></div>
      <div *ngIf="message.type === 'user'">{{message.text}}</div>
    </div>
  </div>

  <form #sendForm="ngForm" (ngSubmit)="onSubmit()" >
    <input type="text"
           placeholder="Message or command"
           [(ngModel)]="userInput"
           name="userInput"
           required>
    <button type="submit">Send</button>

    <div>
      Chat commands:
      <ul>
        <li>Change nickname: <code>/nick [username]</code></li>
        <li>Join/create room: <code>/join [room name]</code></li>
      </ul>
    </div>
  </form>
</div>
